
.itemDiv{
    display: flex;
    justify-content: flex-start;
    background-color: rgba(182, 171, 108, 0.5);
    width: 10vw;
    border: none;
    margin: 1vh;
    border-radius: 5px;
    padding: 1vh;
    /* box-shadow: inset 1rem 1rem 1rem .4rem rgba(0, 0, 0, 0.3), .4rem .4rem 10px rgba(0, 0, 0, 0.45); */
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
